.edit__modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    .edit__modal__content {
        width: 40%;
        min-width: 270px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        gap: 10px;
        
        .input__container{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap : 10px;
        }

        h2{
            font-size: 1.4rem;
            margin: 0;
        }

        input,
        select, textarea {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
            resize: none;
        }

        .button_container {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            gap: 10px;

            button {
                padding: 6px 12px;
                border: none;
                border-radius: 5px;
                background-color: #4CAF50;
                color: white;
                font-size: 1rem;
                cursor: pointer;
                transition: 0.3s;
              }
              
              button:hover {
                background-color: #217425;
              }
        }

    }
}